<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zimplifica.redipuntos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".RPApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activities.ScannerIdActivity">
        </activity>
        <activity android:name=".ui.activities.CitizenInfoActivity">
        </activity>
        <activity
                android:name=".ui.activities.LaunchActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.SPScanQRActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <activity
                android:name=".ui.activities.SPSelectionActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.HomeActivity"
                android:label="@string/title_activity_home"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.ConfirmForgotPasswordActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.ForgotPasswordActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.SignUpVerifyActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.SignInFailureActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.PrivacyActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.TermsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.HelpActivity"
                android:parentActivityName=".ui.activities.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.WalkThrough"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.TakePhoneActivity"
                android:parentActivityName=".ui.activities.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.PasswordActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.SignInActivity"
                android:parentActivityName=".ui.activities.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.activities.MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
    </application>

</manifest>